protobuf==3.20.3
transformers==4.30.2
sentence_transformers==2.2.2
zerorpc
cpm_kernels
icetk
torch>=2.3.0
httpx==0.24.1
jieba
datasets>=2.18.0
spacy
numpy
scipy
nltk==3.8.1
chromadb
dashscope
peft>=0.10.0
ktrain
pika